body {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
}
.header{
    height: 1.5rem;
    background: red;
    line-height: 1.5rem;
    position: relative;
    
}
.header a{
    float: left;
}
.header img{
    width: 1.0rem;
    height: 1.0rem;
    margin-right: .4rem;
    margin-top: .2rem;
}
.header h2{
    font-size: .5rem;
    /* float: left; */
}

.nav{
    height: 1.3rem;
}
.nav ul{
    display: flex;
}
.nav ul li{
    height: 1.3rem;
    text-align: center;
    font-size: .45rem;
    line-height: 1.3rem;
    flex: 1;
    float: left;
    /* border-bottom: .06rem solid red; */
}
.nav ul li.selected{
    color: red;
    border-bottom: .06rem solid red;
}

.zxt{
    display: flex;
    height: 2.98rem;
    margin-bottom: .2rem;
}
.zxt img{
    display: none;
    width: 100%;
    flex: 1;
    height: 2.98rem;
}
.zxt .xianshi{
    display: block;
}

.list{
    height: auto;
}
.list ul{
    display: none;
}
.list .display{
    display: block;
}
.list ul li{
    height: 1.2rem;
    border-top: .005rem solid #ecedef;
}
.list ul li a{
    width: auto;
    height: auto;
}
.list ul li .list-left{ 
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .2rem;
    float: left;
}
.list ul li .list-left img{
    width: 1.0rem;
    height: 1.0rem;
    margin-left: .1rem;
    margin-top: .1rem;
}
.list ul li .list-right{
    width: calc(100% - 1.4rem);
    height: 1.2rem;
    float: left;
    position: relative;
}
.list ul li h5{
    font-size: .4rem;
    font-weight: bold;
    position: absolute;
    top: .2rem;
}
.list ul li p{

    font-size: .2rem;
    position: absolute;
    bottom: .2rem;
}


.swiper-slide > img {
    max-width: 100%;
}
.swiper-pagination > span {
    border-radius: 0;
    width: .3rem;
    height: 2px;
}
.swiper-pagination-bullet-active {
    background: #ff6868;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1px;
}

.main {
    flex: 1;
    height: 0;
    overflow-y: scroll;
}
=======
    background: #f2f4f5;
    font-family: 微软雅黑;
	width: 100%;
	overflow: hidden;
}

.header {
    height: 1rem;
    background: #ce3d3a;
    width: 100%;
    display: flex;
    line-height: 1rem;
}

.header .left {
    width: 1rem;
    height: 100%;
    color: #fff;
    text-align: center;
}

.header .left i {
    font-size: 0.6rem;
    display: block;
}

.header .mid {
    flex: 1;
    height: 100%;
}

.header .mid .ico-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    float: left;
}

.header .mid i {
    display: block;
    float: left;
    font-size: 0.5rem;
    color: #fff;
    margin: 0 .3rem;
}

.header .right {
    height: 100%;
    width: 1rem;
}

.header .right i {
    font-size: 0.5rem;
    display: block;
    color: #fff;
    text-align: center;
}

.main {
    flex: 1;
    height: 0;
    overflow-y: scroll;
}
.main .swiper-container {
    height: 2.9rem;
    overflow: hidden;
}
.main .swiper-container .swiper-pagination .swiper-pagination-bullet {
    background: #fff;
    opacity: .5;
}
.main .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
    background: red;
}
.main .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}
.main .tools {
    height: 2rem;
    width: 100%;
}
.main .tools .tools-list {
    display: flex;
    height: 100%;
}
.main .tools .item {
    flex: 1;
    height: 100%;
    text-align: center;
}
.main .tools .item i {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    border: 1px solid #ce3d3a;
    margin-top: 0.3rem;
    margin-bottom: 0.1rem;
    line-height: 1rem;
    color: #ce3d3a;
    font-size: 0.5rem;
}
.main .tools .item .name {
    font-size: 0.25rem;
    color: #333;
    display: block;
}
.wrap {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
}

.remd {
    padding-top: .4rem;
}
.wrap .aaa .music_per {
    color: #666;
}
.remd_t {
    position: relative;
    font-size: 17px;
    padding-left: .18rem;
    height: .4rem;
    line-height: .4rem;
    margin-bottom: .28rem;
}

.remd>.remd_t::after {
    content: "";
    position: absolute;
    width: .04rem;
    height: .32rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #d33a31;
}

.remd>.remd_songs {
    position: relative;
}

.remd_songs>.remd_ul {
    padding-bottom: .32rem;
    display: flex;
    width: 100%;
    height: 3.6rem;
}

.remd_ul>.remd_li {
    display: inline-block;
    flex: 1;
    box-sizing: border-box;
    padding-left: .02rem;
    padding-right: .02rem;
    width: 123px;
}

.remd_ul>.remd_li:first-child {
    padding-left: 0;
    padding-right: .04rem;
}

.remd_ul>.remd_li:last-child {
    padding-right: 0;
    padding-left: .04rem;
}

.remd_li>.remd_img {
    position: relative;
}

.remd_img>img {
    width: 2.46rem;
    height: 2.46rem;
    background: bisque;
}

.remd_img>.u_earp {
    position: absolute;
    right: .1rem;
    top: .04rem;
    z-index: 2;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    padding-left: .26rem;
    background-position: 0;
    background-size: .22rem .2rem;
}

.remd_li>.remd_text {
    overflow: hidden;
    font-size: 13px;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: .12rem .04rem 0 .12rem;
}

.music_name {
    font-size: 13px;
    line-height: 1.2;
    color: #310200;
}

.music_per {
    font-size: 13px;
    line-height: 1.2;
    color: #ffe3de;
}

.news {
    padding-left: .1rem;
}

.news_list>li {
    border-top: 2px solid rgba(0, 0, 0, .1);
}

.news_wrap {
    display: flex;
}

.news_wrap>.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: .3rem;
    padding-left: .2rem;
}

.news_wrap>.right {}

.news_wrap>.right>img {
    width: 2rem;
    height: 2rem;
    background: red;
}

.news_wrap>.left p {
    flex: 1;
    position: relative;
    font-size: 14px;
    text-indent: 2.5em;
    line-height: 1.4;
    padding-right: 1.2rem;
}

.news_wrap>.left p>i {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    color: red;
    border: .04rem solid red;
    text-indent: 0;
    left: 0;
}

.news_wrap>.left span {
    font-size: 12px;
    color: #ccc;
    padding-bottom: .2rem;
}
.fit {
    text-align: center;
}
.fit .fit-text {
    font-size: 16px;
    border-radius: .8rem;
    width: 33%;
    border: 1px solid #ce3d3a;
    text-align: center;
    display: inline-block;
    height: .8rem;
    line-height: .8rem;
    color: #ce3d3a;
}
.footer {
    height: .9rem;
    background: #fff;
    padding: .1rem;
    display: flex;
}
.footer .head-img {
    float: left;
    height: 0.7rem;
    width: 0.7rem;
    background: #000;
}
.footer .info {
    flex: 1;
    margin-left: 0.1rem;
}
.footer .info .name {
    margin-top: 0.1rem;
    color: #030303;
    font-size: .26rem;
}
.footer .info .author {
    color: #7e7e7c;
    font-size: .2rem;
    margin-top: 0.1rem;
}
.footer .right {
    width: 1.3rem;
    line-height: 0.7rem;
}
.footer .right i {
   display: block; 
   color: #2c2d2c;
   font-size: 0.5rem;
   float: left;
   height: 0.7rem;
}
.footer .right i.play {
    margin-right: 0.2rem;
}
>>>>>>> a79aac4bc9e74fa20e44f11ef264f283e7f3e9d4
