body {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-image: url(../images/480_800过场.png); */
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

#back {
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(8px);
    z-index: -2;
}

header {
    width: 100%;
    height: 1.2rem;
}

.inner_space {
    width: 100%;
    height: .88rem;
    margin-top: .32rem;
    /* background-color: black; */
    position: relative;
    border-bottom: 1px solid #37373c;
}

.inner_space a {
    position: absolute;
    left: 0;
    width: 1.06rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: white;
}

.inner_space a img {
    display: block;
    width: .3rem;
    height: .5rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: .2rem;
    top: .16rem;
}

.inner_space h5 {
    font-size: .3rem;
    color: whitesmoke;
    text-align: center;
    line-height: .5rem;
}

.inner_space h6 {
    font-size: .2rem;
    color: white;
    text-align: center;
}

#inner_body {
    flex: 1;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#inner_body .play-bar {
    position: absolute;
    height: 2.5rem;
    width: 3.5rem;
    left: 50%;
    top: 0;
    background: url(../images/mscbar.png) no-repeat;
    background-position: -.32rem 0rem;
    background-size: 90%;
    transition: .8s .4s;
    transform-origin: 0 0;
    z-index: 3;
}
#inner_body .play-bar::after {
    content: "";
    height: 0.6rem;
    width: 0.6rem;
    background: #666;
    border-radius: 50%;
    position: absolute;
    left: -0.3rem;
    top: -0.3rem;
    border: .15rem solid #fff;
    box-sizing: border-box;
}
footer {
    width: 100%;
    height: 2.6rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#scroll {
    width: 100%;
    height: .6rem;
    position: relative;
}

#scroll_box {
    position: absolute;
    width: 5.45rem;
    height: .06rem;
    background-color: #5a5b5f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: relative; */
}

#scroll_box_over {
    width: 0rem;
    height: .06rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
}

.scroll_ball {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -.15rem;
    left: -.15rem;
    position: relative;
}

.scroll_ball_red {
    width: .1rem;
    height: .1rem;
    position: absolute;
    border-radius: 50%;
    top: .1rem;
    left: .1rem;
    background-color: red;
}

.time {
    display: block;
    width: .5rem;
    height: .2rem;
    font-size: .2rem;
    color: white;
}

.now_time {
    position: absolute;
    top: .15rem;
    left: .25rem;
}

.all_time {
    position: absolute;
    top: .15rem;
    right: .25rem;
}

#control {
    flex: 1;
    width: 100%;
}

.card_1 {
    position: relative;
    overflow: hidden;
}

.player_card {
    width: 6.25rem;
    height: 6.25rem;
    background-color: #cacaca;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.card_2 {
    position: absolute;
    left: .225rem;
    top: .225rem;
    width: 5.8rem;
    height: 5.8rem;
    background-image: url(../images/player_card.png);
    background-size: cover;
}

.card_3 {
    width: 4rem;
    height: 4rem;
    /* background-image: url(../images/480_800过场.png);
    background-size: cover; */
}

@keyframes animtran {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.revolve {
    animation: animtran 16s linear infinite;
}

.restart {
    animation: animtran 16s linear infinite;
}

.ainimation_stop {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    /* Safari 和 Chrome */
}

.ainimation_reset {
    transform: rotateZ(0deg);
}

#controler_ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.blank {
    flex: .5;
}

.turn {
    flex: 1;
    position: relative;
}

.last_song {
    background-image: url(../images/last_song.png);
    background-repeat: no-repeat;
}

.play_a_song {
    background-image: url(../images/play_a_song.png);
    background-repeat: no-repeat;
}

.stop_a_song {
    background-image: url(../images/stop_a_song.png);
    background-repeat: no-repeat;
}

.play {
    flex: 1.5;
    position: relative;
}

.next_song {
    background-image: url(../images/next_song.png);
    background-repeat: no-repeat;
}

.button_play_a_song {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.button_turn_song {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


/* .audio {
    width: 0;
    height: 0;
} */

.test {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: red;
    left: 2rem;
    top: 3rem;
    z-index: 999;
}